<header>
  <div class="up_page">
    {{>header}}
    </div>
  {{>menu}}
</header>

<h2 class="cart_main">Cart</h2>
<input type="text" value="{{cart._id}}" hidden id="cartId" />

<div class="empty_cart">
 <button type="button" class="empting_button" onclick="deleteCart('{{cart._id}}')"> Empty Cart </button>
</div>

<main class="main_cart">
  <div class="table_container">
  <table class="table_cart">
   
    <tbody id="cartProducts">
      {{#each cart.products}}
      <tr>
  <td class="row_cart_p"><img src="{{product.thumbnail}}" class="image_cart" alt="{{product.title}}" width="70" /></td>
  <td class="row_cart_p"><p>{{product.title}}</p></td>
  <td class="row_cart_P"><p class="product-price">${{product.price}}</p></td>
  <td class="row_cart_p">
    <div class="controls">
      <button type="button" class="btn_cantidad" onclick="removeFromCart('{{product._id}}')">-</button>
      <p class="cantidad_producto">{{quantity}}</p>
      <button type="button" class="btn_cantidad" onclick="add('{{product._id}}')">+</button>
    </div>
  </td>
</tr>

         {{/each}}
     
    </tbody>
  </table>
</div>

<div class="finalizar_compra">
 <h4 class="total_price" id="total_price">Total price:</h4>
 
 </div>

 <div class="continue_shopping">
  <button class="checkout_button" onclick="checkout()">Check out</button>
  <p class="continue_msg"> Or...</p>
  <a href="/products"><button class="shopping_button">Continue Shopping</button></a>
  </div>
  


</main>


<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/logout.js"></script>
<script src="/assets/js/cartTotalPrice.js"></script>
<script src="/assets/js/checkout.js"></script>


