<header>
  <div class="up_page">
    {{>header}}
  </div>
  {{>menu}}
</header>

<body>
  <main class="main_checkout">
    <div class="ticket">
      <h3 class="subtitle_ticket">Purchase Detail</h3>
      <h2 class="products_ticket">Products:</h2>
      <ul>
        {{#each ticket.products}}
        <li>- Product: {{this.product.title}}</li>
        <li>- Quantity: {{this.quantity}}</li>
        <br>
        {{/each}}
      </ul>
      <h2 class="products_ticket">Ticket Information:</h2>
      <p>Ticket Code: {{ticket.code}}</p>
      <p>Purchaser: {{ticket.purchaser}}</p>
      <p>Total: ${{ticket.amount}}</p>
    </div>

    <div class="confirm_purchase">
    <p class="purchase_msg"> Do you confirm this purchase?</p>
    <a href=""><button class="purchase_button">I do!</button></a>
</div>

    
    <img class="checkout_gueixa" src="https://i.postimg.cc/q73wfB6z/cute-fox-kitsune-sitting-cartoon-vector-icon-illustration-animal-holiday-icon-concept-isolated-flat.png" alt="gueixa" width="250">
  </main>
</body>

<footer></footer>


