<header>
  <div class="up_page">
    {{>header}}
  </div>
  {{>menu}}
</header>

<body>
   <div class="confirm_purchase">
     <p class="purchase_msg">The purchase ticket has been sent to your email.</p>
      <p class="purchase_msg">You can now proceed to pay.</p>
      <p class="purchase_msg last">Thank you!<i class="fas fa-heart"></i></p>
    </div>
  <main class="main_checkout">
    <div class="ticket">
      <h3 class="subtitle_ticket">Purchase Detail</h3>
      <h2 class="products_ticket">Products:</h2>
      <ul>
        {{#each ticket.products}}
        <li>- Product: {{this.product.title}}</li>
        <li>- Quantity: {{this.quantity}}</li>
        <br>
        {{/each}}
      </ul>
      <h2 class="products_ticket">Ticket Information:</h2>
      <p>Ticket Code: {{ticket.code}}</p>
      <p>Purchaser: {{ticket.purchaser}}</p>
      <p>Total: ${{ticket.amount}}</p>
    </div>

   
    <img class="checkout_gueixa" src="https://i.postimg.cc/q73wfB6z/cute-fox-kitsune-sitting-cartoon-vector-icon-illustration-animal-holiday-icon-concept-isolated-flat.png" alt="gueixa" width="250">
  </main>
</body>

<footer></footer>

<script src="/assets/js/logout.js"></script>


