
<header>
  <div class="up_page">
    {{>header}}
    </div>
  </div>
  {{>menu}}
 <h1 class="titulo"> Horisada's Paintings </h1>
  <hr />
  <hr />
</header>

<main >


  <h2 class="subtitulo"> Manage Users </h2>

  <div class="table_container">
    <table class="manage_users_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Documents</th>
          <th>Last Connection</th>
          <th>Change Role</th>
          <th>Remove User</th>
        </tr>
      </thead>
      <tbody id="users">
        {{#each users}}
          <tr>
            <td class="row_realtime_table">{{name}}</td>
            <td class="row_realtime_table">{{email}}</td>
            <td class="row_realtime_table">{{role}}</td>
            <td class="row_realtime_table">{{status}}</td>
            <td class="row_realtime_table">{{last_connection}}</td>
            <td class="row_realtime_table"> <button class="users_button"  onclick="changeRole('{{_id}}')"><i class="fas fa-exchange-alt"></button></td> 
            <td class="row_realtime_table"> <button class="users_button"  onclick="deleteUser('{{_id}}')"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="delete_users_container">
    <p class="delete_users_msg"> Would you like to remove all inactive users?</p>
   <button class="delete_users_button"  onclick="deleteInactiveUsers()">Delete</button>
</div>

 

</main>
<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/logout.js"></script>
<script src="/assets/js/manageUsers.js"></script>