<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMU87IpT4vG2Q0Dzt4JXLwP7dBOkce5Bvb+Rs1"
  crossorigin="anonymous"
/>


<header>
  <div class="up_page">
    {{>header}}
    </div>
  </div>
  {{>menu}}
 <h1 class="titulo"> Horisada's Paintings </h1>
  <hr />
  <hr />
</header>

<main >


  <h2 class="subtitulo"> Manage Users </h2>

  <div class="table_container">
    <table class="manage_users_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Documents</th>
          <th>Last Connection</th>
          <th>Change Role</th>
          <th>Remove User</th>
        </tr>
      </thead>
      <tbody id="users">
        {{#each users}}
          <tr>
            <td class="row_realtime_table">{{name}}</td>
            <td class="row_realtime_table">{{email}}</td>
            <td class="row_realtime_table">{{role}}</td>
            <td class="row_realtime_table">{{status}}</td>
            <td class="row_realtime_table">{{last_connection}}</td>
            <td class="row_realtime_table"> <button class="users_button"><i class="fas fa-exchange-alt"></button></td> 
            <td class="row_realtime_table"> <button class="users_button"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="delete_users_container">
    <p class="delete_users_msg"> Would you like to remove all inactive users?</p>
    <a href="/register"><button class="delete_users_button">Delete</button></a>
</div>


</main>
<footer></footer>