<header>
  <div class="up_page">
    {{>header}}
    </div>
  </div>
  {{>menu}}
</header>

<div class="welcome_profile">
    <div class="subtitle_and_image_container">
      <h2 class="subtitle_profile">Hello, {{user.name}}!</h2>
      <div class="imgcontainer_profile">
        <img src="https://i.postimg.cc/XNGdMmtG/3d-casual-life-chatgpt-robot-with-speech-bubble.png" alt="Avatar" width="100px" />
      </div>
    </div>
  </div>
  <div class="container_profile">
    <div class="info_container">
      <h3 class="info_profile">User Information:</h3>
      <p class="texto_profile">Name: {{user.name}}</p>
      <p class="texto_profile">Last Name: {{user.last_name}}</p>
      <p class="texto_profile">Email: {{user.email}}</p>
      <p class="texto_profile">Role: {{user.role}}</p>
    </div>
  </div>
  <hr>

  <div>
    <input type="text" value="{{user._id}}" hidden id="userId" />
    <h4 class="title_documents"> Not premium  yet ?</h4>
     <p class="info_documents">Dear {{user.name}}, if you wish to upgrade your role to premium you can use the form below to upload your ID, Proof of address and Account statement. If you already have a premium role and need to update any document, you can use the same form. Please notice they must have a PDF extension.</p>
     <form onsubmit="uploadDocuments(event)" id="formDocuments" action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
  <div class="container_form_documents">
    <label for="ID">ID:</label>
    <input type="file" id="ID" name="ID" style="display: none;" />
    <button type="button" class="custom-file-upload" data-input-id="ID">Choose File</button>

    <label for="proof-of-address">Proof of address:</label>
    <input type="file" id="proof-of-address" name="Proof of address" style="display: none;" />
     <button type="button" class="custom-file-upload" data-input-id="proof-of-address">Choose File</button>


    <label for="account-statement">Account statement:</label>
    <input type="file" id="account-statement" name="Account statement" style="display: none;" />
    <button type="button" class="custom-file-upload" data-input-id="account-statement">Choose File</button>
</div>
    
  </div>
  <div class="button-container">
      <button class="button_upload_form" type="submit">Send Docs</button>
    </div>
</form>
</div>
</main>
<footer></footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/logout.js"></script>
<script src="/assets/js/documents.js"></script>